.loading-bar {
    width: 100%;
    transition-property: all;
    transition-timing-function: linear;
}

.loading-bar[data-state="collapsed"] {
    width: 0%;
    opacity: 0.7;
    transition-duration: inherit;
}

