.logo-pop {
    width: 150px;
    height: 150px;
    opacity: 0;
    transform: scale(0.5);
    transition: all 100ms ease-out;
}

.logo-pop[data-animation="start"] {
    opacity: 1;
    transform: scale(1);
    transition: all 1s cubic-bezier(0.01, 0.5, 0.9, 1);
}
